# Ignore dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist
build

# Environment files
.env.local
.env.test
.env.production

# OS files
.DS_Store
Thumbs.db

# Editor / IDE files
.idea
.vscode
*.swp

# Git
.git
.gitignore
